
<div class="card text-center col-4 container">
  <div class="card-header">
   <strong>Login</strong>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email or Mobile No.</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Password</label>
        <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
        <p><small><a href="#">Forgot Password?</a></small> &nbsp;  &nbsp;   <small><a [routerLink]="'/signup'">Create account</a> </small></p>
</div>


